
    
    <header>
        <nav>
            <ul>
                <li>home</li>
                <li>about</li>
                <li>products</li>
                <li>News</li>
                <li>contact</li>
            </ul>
        </nav>
    </header>